* {
    margin:0;
    padding:0;
}

body{
    background: rgb(2, 1, 12);
}

main{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:10%;
}

#correct-answers{
    position:fixed;
    right: 20%;
    top: 50%;
    z-index: 50;
    color:rgb(120, 214, 91);
    font-family: 'Mochiy Pop One', sans-serif;
    display:none;
}

#wrong-answers{
    position:fixed;
    left: 20%;
    top: 50%;
    z-index: 50;
    color:rgb(230, 80, 80);
    font-family: 'Mochiy Pop One', sans-serif;
    display:none;
}
.home-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    transition: 500ms opacity ease-in;
}

.content{
    transition: 500ms opacity ease-in;
}

.home-card .card-text-box{
    position: relative;
    width: 320px;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
    transition: 0.5s;
}

.home-card .card-text-box::before{
    content: ' ';
    position:absolute;
    top:0;
    left:50px;
    width:50%;
    height:100%;
    background: white;
    border-radius:8px;
    transform: skewX(15deg);
}

.home-card .card-text-box::after{
    content: ' ';
    position:absolute;
    top:0;
    left:50px;
    width:50%;
    height:100%;
    background: white;
    border-radius:8px;
    transform: skewX(15deg);
    filter:blur(30px);
    transition:0.5s;
}

.home-card .card-text-box:hover:before,
.home-card .card-text-box:hover:after{
    transform: skewX(0deg);
    left:20px;
    width: calc(100% - 90px);
}

.home-card .card-text-box:before,
.home-card .card-text-box:after{
    background: linear-gradient(315deg,#ffbc00,#ff0058)
}

.home-card .card-text-box span{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 50;
    pointer-events:none;
    transition: 500ms opacity ease-in;
}

.home-card .card-text-box span::before{
    content:'';
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    border-radius:8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    opacity:0;
    transition:0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.home-card .card-text-box:hover span::before{
    top: -50px; left:50px;
    width:100px; height:100px;
    opacity:1;
}

.home-card .card-text-box span::after{
    content:'';
    position:absolute;
    bottom:0; right:0;
    width:100%;
    height:100%;
    border-radius:8px;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    opacity:0;
    transition:0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.home-card .card-text-box:hover span::after{
    bottom: -50px; right:50px;
    width:100px; height:100px;
    opacity:1;
}


@keyframes animate{
   0%,100%{
    transform:  translateY(10px);
   }
   50%{
    transform: translateY(-10px);
   }
}

.home-card .card-text-box .content{
    position:relative;
    z-index:1;
    left:0;
    padding: 20px 70px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index:1;
    transform: 0.5s;
    color: white;
    
}

#play-button{
    padding: 0.5rem 1rem;
    background-color: orangered;
    color:white;
    border: 1px white solid;
    margin: 1rem 3rem;
    cursor:pointer;
    border-radius: 20px;
}

#title-id{
    color:white;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 2rem;
    margin-bottom:0;
    transition: 500ms opacity ease-in;
}

#userinput{
    background:none;
    color:rgb(255, 255, 255);
    border-radius:10px;
    padding:5px 10px;
    border: none;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    margin: 10px 0;
    display:none;
}

#userinput::placeholder{
    color:white;
    font-family: 'Mochiy Pop One', sans-serif;
    
}

* #game-container{
    margin:0;
    padding:0;
    position:relative;
    opacity:0;
}


#game-container2,
#game-container3{
    opacity:1;
    top: 50%;
    position: relative;
    margin:auto;
   
}


.game-cards{
    display:none;
    width: 20vw;
    min-height: 30vh;
    color:white;
    background: rgba(94, 92, 92, 0.13);
    box-shadow: 0 5px 15px rgba(201, 7, 240, 0.288);
    padding: 20px 0;
    transition: 5000ms opacity ease 1s;
    transition: 1000ms transform ease-in-out;
}

.answers{
    padding: 0 20px;
    list-style:none;
}
.answer-button{
    width: 99%;
    padding: 10px 0;
    margin-bottom: 15px;
    background: rgba(94, 92, 92, 0);
    border: 1px purple solid;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: opacity 0ms;
}

.answer-button:hover{
    background: purple;
    border: 1px white solid;
    
}
.submit-item{
    text-align: center;
}

.submit-answer-button,
.submit-answer-button2,
.submit-answer-button3,
.submit-answer-button4,
.submit-answer-button5{
    width: 30%;
    min-width: 70px;
    padding: 10px 0;
    border: 1px yellow solid;
    color: white;
    background: rgba(94, 92, 92, 0);
    border-radius: 10px;
}

.submit-answer-button:hover,
.submit-answer-button2:hover,
.submit-answer-button3:hover,
.submit-answer-button4:hover,
.submit-answer-button5:hover{
    border: 1px white solid;
    background: yellow;
    color: purple;
    font-weight: bold;
    cursor:pointer;
}


